---
---

@import "{{ site.theme }}";

.site-avatar {
    float: left;
    width: 150px;
    height: 150px;
    margin-right: 15px;
  
    @include mobile {
      float: none;
      display: block;
      margin: 0 auto;
    }
  
    img {
      border-radius: 5px;
    }
  }